main{
    background-color: #FDF4E3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

header  {
  padding-top: 15px;
  max-width: 100%;
  background-color:transparent;
  }
  
  
  /*Navigation-bar*/
  .navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  }
  
  .nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  padding-right:1cm;
  font-size: 20px;
  }
  
  .nav-links > li{
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-links a{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .nav-links a:hover{
    text-decoration-line:none;
  }
  
  .logo > p{
  display: block;
  flex-wrap: nowrap;
  padding-left: 1cm;
  font-size: 25px;
  color: white;
  }

.card {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 20px;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-text {
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.card-text p {
  margin: 0;
}

  