body {
  background-image: url('./img/header-bck-attraktionen.jpg');
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: none;
  max-width: 100%;
}

main{
  background-color: #FDF4E3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    margin-bottom:0px;
}
/*Header Part*/
.header {
 
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  color: #fff;
  min-width: 100%;
}

.website-name {
  font-size: 25px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  
}

.navigation {
  display: flex;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation li {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .website-name {
    margin-top: 10px;
    margin-right: 0;
    font-size: 19px;
  }

  .navigation a {
    font-size: 16px;
   
  }
  
}

.card {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 20px;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-text {
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.card-text p {
  margin: 0;
}

/*Footer Bereich*/

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(122, 220, 43);
  margin: 0px;
  min-width: 100%;
  height: 10px;
  font-size:13px;
}

.footer-logo{
  display: flex;
  align-items: center;
  text-align: center;
}
.footer-logo > img{
  margin-left: 10px;
}


.footer-impdat{
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.footer-impdat > p{
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

.footer-impdat > p > a {
  color: black;
}

  hr{
    height: 1.5px;
  }