body {
  background-image: url('./img/home-bck.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FDF4E3;
  margin-top: 50%;
  max-width: 100%;
 position: relative;

}

header  {
padding-top: 15px;
max-width: 100%;
background-color:transparent;
}


/*Navigation-bar*/
.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
padding-right:1cm;
font-size: 20px;
}

.nav-links > li{
  display: flex;
  flex-wrap: wrap;
}

.nav-links a{
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links a:hover{
  text-decoration-line:none;
}

.logo > p{
display: block;
flex-wrap: nowrap;
padding-left: 1cm;
font-size: 25px;
color: white;
}
  
  
  
  .fish-oben{
  margin:1cm;
  column-gap: 10cm;
  }
  
  .fish-unten{
  margin:1cm;
  }
  
  
  .fish-link{
    background-color: white;
    padding-bottom: 2cm;
    padding-bottom: 20px;
  }
  
  .fish-link:hover{
    background-color: rgb(177, 248, 177);
   
  }
  
  .fish-link > p{
    padding-top: 10px;
    margin-top:0px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    
  }
  
  .mehrdazu{
    display: flex;
    align-items: center;
  }
  
  .mehrdazu > img{
    margin-left: 8px;
  }
  
  .mehrdazu > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }

  
/*Footer Bereich*/

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  margin: 0px;
  max-width: 100%;
  max-height: 90px;
}


.first-part{
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  white-space: normal;
}


.middle-part{
display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;


}

.middle-part > p{
 padding-left:30px ;
 padding-right: 30px;
 word-wrap: break-word;
  white-space: normal;

  }

.last-part{
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
    }

  .last-part > br{
    color: yellow;
    word-wrap: break-word;
  white-space: normal;

  }