html{
  max-width: 100%;
}

body {
  background-image: url('./img/home-bck.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: none;
  max-width: 100%;
}

main{
  background-color: #FDF4E3;
  margin-top: 50%;
  max-width: 100%;
}

.main-section{
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: center;

  
}

/*Header Part*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  max-width: 100%;
}

.website-name {
  font-size: 25px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  
}

.navigation {
  display: flex;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation li {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .website-name {
    margin-top: 10px;
    margin-right: 0;
    font-size: 19px;
  }

  .navigation a {
    font-size: 16px;
   
  }
  
}




/*Main-Section*/
.öffnungszeit-container{
display: flex;
flex-direction:column;
flex-wrap: wrap;

padding-top: 0px;
padding-left:25px;
}

.uhrzeit-header{
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  padding: 0px;
  background-color: rgba(214, 214, 6, 0.767);

}

.uhrzeit-header > img{
  margin-right: 0px;
  padding:20px;
}


.interestContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.intrestCard {
  width: 350px;
  background-color: #0099ff;
  margin: 10px;
  box-shadow: 0 0 15px black;
  border-radius: 10px 10px 0 0;
}

.intrestCard:hover {
  box-shadow: 0 0 35px black;
  transition-duration: 300ms;
  transform: scale(1.05);
}

.interestContainer {
  max-width: 100vw;
  max-height: 100vh;
  margin-top: 75px;
}

.imageWithTextRight {
  margin-bottom:25px ;
}

.imageWithTextRight > h3{
  margin-bottom: 0px;
  margin-top: 15px;
  background-color: rgba(224, 224, 58, 0.658);
  padding: 10px;
}

.unsereFakten{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.circle {
width: 215px;
max-width: 230px;
height: 215px;
border-radius: 50%;
background-color: rgba(214, 214, 6, 0.767);
margin-bottom: 30px;
margin-right: 40px;
margin-left: 40px;
margin-top: 35px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
color: black;
font-size: 18px;
font-weight: bold;
text-align: center;
flex-wrap: wrap;

}

.circle p {
margin-top: 5px;

}
.circles{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: space-between;
 text-align: center;
}

.left-container{
  background-color: rgba(224, 224, 58, 0.658);
  width: 350px;
  word-wrap: break-word;
  white-space: normal;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 60px;
}

.überuns-text{
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.left-container > img{
  display: block;
}






/*Footer Bereich*/

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(122, 220, 43);
  margin: 0px;
  max-width: 100%;
  height: 10px;
  font-size:13px;
}

.footer-logo{
  display: flex;
  align-items: center;
  text-align: center;
}
.footer-logo > img{
  margin-left: 10px;
}


.footer-impdat{
  display: flex;
  align-items: center;
}

.footer-impdat > p{
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

.footer-impdat > p > a {
  color: black;
}

  hr{
    height: 1.5px;
  }