.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  max-width: 100%;
}

.website-name {
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation li {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .website-name {
    margin-top: 10px;
    margin-right: 0;
  }
}
